/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors

$primary: #dc3c45;
$secondary: #343a40;
$text: #cdd0d3;
$pure: #fff;
$bg: #f2f2f2;
$dark: #808080;

/* Media Queries Begin */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-display: 1024px;
/* Media Queries End */
