/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors

$primary: rgb(220, 60, 69);
$secondary: rgb(52, 58, 64);
$text: rgb(205, 208, 211);
$pure: #fff;

/* Media Queries Begin */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-display: 1024px;
/* Media Queries End */
