/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors

$primary: #dc3c45;
$secondary: #343a40;
$text: #cdd0d3;
$pure: #fff;
$bg: #f2f2f2;
$dark: #808080;
/* Media Queries  */
$breakpoint-mobile: 768px;
