/* ---------------------------------------------------------------
 Hero Section
--------------------------------------------------------------- */
.hero {
  background: url(../../media/banner-1.jpg);
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $breakpoint-mobile) {
    background-position: 70% 0;
  }
  .container {
    height: 100vh;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  h4 {
    padding: 1rem 0;
  }
}

/* ---------------------------------------------------------------
 Service Section
--------------------------------------------------------------- */

.service {
  &_heading {
    padding: 2rem 0 0.5rem 0;
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 0;
    }
  }
  &_text {
    font-size: 1.3rem;
    padding-bottom: 5rem;
  }
  &_col {
    border: 2px solid $bg;
    flex: 0 1 30%;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    @media screen and (max-width: $breakpoint-mobile) {
      flex: 0 1 100%;
      margin-bottom: 1.5rem;
    }
    img {
      width: 5rem;
      height: 4rem;
    }
    p {
      padding: 0.5rem 0 1rem 0;
    }
  }
}

/* ---------------------------------------------------------------
 Solution Section
--------------------------------------------------------------- */

.solution {
  background-color: $bg;
  &_content {
    max-width: 40rem;
    margin: 0 auto;
    p {
      font-size: 1.2rem;
      padding: 1.5rem 0;
    }
  }
}

/* ---------------------------------------------------------------
About Section
--------------------------------------------------------------- */

.about {
  &_col {
    padding: 2rem 0 5rem 0;
    @media screen and (max-width: $breakpoint-mobile) {
      padding-bottom: 2rem;
    }
  }
  &_content {
    @media screen and (max-width: $breakpoint-mobile) {
      margin-bottom: 2rem;
    }
    h3 {
      line-height: 1.2;
    }
    img {
      width: 4rem;
      height: 3.5rem;
      padding-bottom: 0.6rem;
    }
    p {
      font-size: 1.2rem;
      padding: 0.7rem 0;
    }
  }
  .quote {
    background-color: $primary;
    &_text {
      h5 {
        font-size: 1.3rem;
        color: $pure;
        line-height: 1.5;
      }
      p {
        color: $bg;
      }
      .btn {
        @media screen and (max-width: $breakpoint-mobile) {
          margin-top: 2rem;
        }
      }
    }
  }
}

/* ---------------------------------------------------------------
Role Section
--------------------------------------------------------------- */

.role {
  @media screen and (max-width: $breakpoint-mobile) {
    padding-bottom: 3rem;
  }
  &_content {
    p {
      padding: 1rem 0;
      font-size: 1.2rem;
    }
  }
}

/* ---------------------------------------------------------------
client Section
--------------------------------------------------------------- */

.client {
  background-color: $bg;
  h2 {
    padding-bottom: 2rem;
  }
  li {
    flex: 0 1 15%;
    @media screen and (max-width: $breakpoint-mobile) {
      flex: 0 1 30%;
    }
    img {
      filter: grayscale(100%);
    }
  }
}
